fastapi
uvicorn
SQLAlchemy
psycopg2-binary
alembic
python-jose[cryptography]
passlib[bcrypt]
pydantic
pydantic-settings
pytest
httpx
requests
python-multipart
pydantic[email]
twilio
openai
elevenlabs
python-dotenv
email-validator
stripe
fastapi-limiter==0.1.6
websockets
aiohttp
google-genai
bcrypt==4.1.2
authlib
google-auth
google-auth-oauthlib
google-cloud-speech
google-cloud-texttospeech
sendgrid
geopy
timezonefinder